/* Welcome page */
.welcome {
    height: 100vh;
    width: 100%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    overflow: hidden;
}

.welcome-navbar {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-navbar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.welcome-navbar button {
    padding: 12px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
}

.welcome-navbar button:hover {
    background-color: #fff;
    color: black;
}

.welcome-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome h1 {
    text-transform: uppercase;
}

.welcome-content p {
    font-size: 14px;
    color: gray;
}

.welcome-cards {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 70px;
}

.welcome-card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 7px 20px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 7px 20px 0px rgba(255, 255, 255, 0.2);
    height: 400px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.expert {
    background: url("../assets/expert.jpg");
    z-index: 0;
    filter: blur(2px);
}

.journal {
    background: url("../assets/journal.jpg");
}

.chat {
    background: url("../assets/friendship.jpg");
}

.expert,
.journal,
.chat {
    background-size: cover;
    /* Rasmni to'liq joylashtiradi */
    background-position: center;
    /* Rasmni markazga joylashtiradi */
    background-repeat: no-repeat;
    /* Rasmni takrorlamaydi */
}

.welcome-card-img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
}

.welcome-card__hover {
    display: none;
    transition: all 1s;
}

.welcome-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

.welcome-card:hover::before {
    background-color: #050505;
}

.welcome-card:hover .welcome-card__hover {
    display: flex;
    z-index: 99;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
}

.welcome-card__hover button {
    padding: 10px 20px;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    color: white;
    font-weight: bold;
    transition: all 1s;
}

.welcome-card__hover button:hover {
    background-color: #fff;
    color: black;
}

.welcome-card {
    transition: all 1s;
    transform: translateY(80px);
}


.active {
    transform: translateY(20px);
}

.welcome-card:hover {
    transform: translateY(20px);
}

/* Chat page */

img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.chat-page {
    display: flex;
    gap: 2rem;
    height: calc(100vh - 50px);
}

.group {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.group-container {
    -webkit-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.message {
    flex: 2;
    height: 100%;
}


/* group page */
.group-search {
    height: 5%;
}

.group-groups {
    height: 30%;
    overflow: auto;
}

.group-message {
    flex: 1;
    overflow: auto;
}

.group-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-search input {
    border: none;
    outline: none;
    flex: 1;
}

.group-groups__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.groups-item__left {
    display: flex;
    gap: 1rem;
}

.group-groups__item p {
    color: gray;

}

.people-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.people-item p {
    color: gray;
}

.people-item__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* message */
.message {
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.message-item__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.message-item__right {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 2rem;
}

.message-item__right i {
    cursor: pointer;
}

.message-info {
    height: 80%;
}

.message-info__items {
    margin-top: 10px;
}

.message-info__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.info-item__message {
    padding: 10px;
    border-radius: 10px;
    background-color: #E7E7E7;
    width: fit-content;
}

.info-items__time {
    font-size: 12px;
    color: gray;
}

.message-info__item span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -10px;
    bottom: 15px;
    background-color: #E7E7E7;
}

.message-info {
    padding: 10px;
}

.message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.message-form__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.message-form__input i {
    cursor: pointer;
}

.form-input__left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.form-input__left input {
    border: none;
    outline: none;
    flex: 1;
}

.form-input__right {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.message-form__voice {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #6E00FF;
    color: white;
    border-radius: 10px;
    cursor: pointer
}

.input-right__emoji {
    position: absolute;
    top: -500px;
    left: -300px;
}

#file-input {
    display: none;
}