/* Login */
.login {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

.login-left {
    background: url("../assets/register-left.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    flex: 1;
}

.login-form {
    flex: 1.5;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.login-form__titles {
    width: 448px;
}

.login-form__titles p {
    font-size: 14px;
    color: #667085;
}

.login-form__container {
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    color: #344054;
}

.login-form__input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D0D5DD;
}

.login-form__input input {
    flex: 1;
    border: none;
    outline: none;
}

.button-container {
    width: 448px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-container button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #1570EF;
    color: white;
    transition: all 0.5s;
}

.button-container button:hover {
    background-color: #0f5bc6;
}

.link-to__register {
    display: flex;
    align-items: center;
    width: 448px;
    justify-content: space-between;
}

.link-to__login {
    display: flex;
    align-items: center;
    gap: 8rem;
    font-size: 14px;
    color: #344054;
}

.link-to__login a {
    text-decoration: none;
    color: #1570EF;
}

.link-to__login.register a:hover {
    color: #073980;
}


/* Register */
.register {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

.register-left {
    background: url("../assets/register-left.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    flex: 1;
}

.register-form {
    flex: 1.5;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.register-form__titles {
    width: 448px;
}

.register-form__titles p {
    font-size: 14px;
    color: #667085;
}

.register-form__container {
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    color: #344054;
}

.register-form__input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D0D5DD;
}

.register-form__input input {
    flex: 1;
    border: none;
    outline: none;
}

.button-container {
    width: 448px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-container button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #1570EF;
    color: white;
    transition: all 0.5s;
}

.button-container button:hover {
    background-color: #0f5bc6;
}

.link-to__login {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 14px;
    color: #344054;
}

.link-to__login a {
    text-decoration: none;
    color: #1570EF;
}

.link-to__login a:hover {
    color: #073980;
}

/* Sidebar */
.sidebar {
    width: 100px;
    background-color: #fff;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 3px 12px -3px rgba(34, 60, 80, 0.2);
}

.sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.sidebar-navigation {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
    width: 100%;
}

.sidebar-navigation__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.sidebar-navigation__items i {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    transition: all 0.5s;
    border-radius: 10px;
}

.sidebar-navigation__items i:hover {
    border-right: 2px solid #000;
    background-color: #e4e9f4;
}
